*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid rgb(183, 182, 182);
    background-image: linear-gradient( rgb(194, 213, 26) 10%, green 130%) ;
    width: 69.8%;
    height: 60px;
    margin-left: 12rem;
    position: fixed;   
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -600px; 
       
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
    text-align: center;
    color: rgb(245, 245, 249); 
      
}



.navigation{
    
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: -20rem;
    position: fixed; 
    gap: 25px;
    color: rgb(242, 242, 8);
    font-size: 18px;     
}

.navigation:hover{
    color: grey;
}


.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 139.1vh;
    height: 312px;
      
}

.fimage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -18.25rem;
    margin-left: 12rem; 
    width: 910px;
    background-image: 100% 100%;
    border: 1px solid rgb(127, 185, 72);
    box-shadow: 0px 4px 0px  rgb(97, 204, 97), 0px 8px 0px rgb(217, 217, 56); 
    
}

/* .facilaty{
    width: 70px;
    height: 70px;
    background-color: transparent rgb(0, 0, 0.8); 
    
} */

.advise{
    color: rgb(75, 166, 42);
    text-shadow: 0 02px 0 rgb(5, 5, 5),0 0px 0px red;
    font-weight: bold;
    margin-left: 14rem;
    margin-top: -13.55rem;   
}
.botton{
    
    font-weight: bold;
    font-size: 10px;
    border-radius: 3px;
    border: 0.1px solid white;
    cursor: pointer;
    background-color: rgb(75, 166, 42);
    color: white;
    margin-left: 19.8rem;
    margin-top: 30px;
    height: 30px;
    width: 90px;
}
.botton:hover{
    color: grey;
}

.our{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    color:rgb(75, 166, 42) ;
    text-shadow: 0 3px 0 black;
    font-size: 20px;
    
    
   
}
.star{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    text-align: center;
    margin-top: -60px;
    
    margin-bottom: 30px;
    color: rgb(55, 101, 38);
    border: 1px solid rgb(127, 185, 72);
    box-shadow: 0px 4px 0px  rgb(97, 204, 97), 0px 8px 0px rgb(217, 217, 56);
    width: 139.1vh;
    height: 255px;
    margin-left: 192px;
    padding-top: 130px;
    
}
.img-3{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(127, 185, 72);
    box-shadow: 0px 4px 0px  rgb(97, 204, 97), 0px 8px 0px rgb(217, 217, 56);
    background-color: white;
    
    width: 910px;
    height: 240px;
    margin-left: 192px; 
}
.img-3 img{
    margin-left: 550px;
}


.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    margin-left: -440px;
    
    color: rgb(36, 85, 20);
}
.us{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -130px; 
    margin-left: -502px;
    color:rgb(75, 166, 42) ;
    text-shadow: 0 3px 0 black;
    font-size: 20px;
    
    
}
.adver2{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 140px;
    border: 1px solid rgb(127, 185, 72);
    box-shadow: 0px 4px 0px  rgb(97, 204, 97), 0px 8px 0px rgb(217, 217, 56);
    width: 139.1vh;
    margin-left: 192px;
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    background-image: linear-gradient( rgb(194, 213, 26) 10%, green 130%) ;
    border: 1px solid rgb(127, 185, 72);
    box-shadow: 0px 4px 0px  rgb(97, 204, 97), 0px 8px 0px rgb(217, 217, 56);
    width: 139.1vh;
    margin-left: 192px;
    height: 60px;

}

.media{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color:rgb(75, 166, 42) ;
    text-shadow: 0 3px 0 black;
    
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(127, 185, 72);
    box-shadow: 0px 4px 0px  rgb(97, 204, 97), 0px 8px 0px rgb(217, 217, 56);
    color:rgb(72, 111, 35) ;
    width: 139.1vh;
    margin-left: 192px;
    margin-top: -35px;
    padding-top: 140px;
    height: 150px;
    gap: 100px;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(19, 156, 19);
    margin-top: 10px;
    width: 910px;
    margin-left: 192px;
    background-color: rgb(37, 167, 50);
}